

.buttonNumber{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
  border-radius: 4px;
    margin-top: 10px;
    color: #FFFFFF;     
     background-color: #284B63;
    align-items: center;
    font-size: 100%;
    padding: 5px 10px;
}
.buttonNumber:hover {
    background-color: #979DAC;
    color: #FFFFFF;
}
.active {
  background-color: #0466C8;
}